@tailwind base;
@tailwind components;
@tailwind utilities;

.sang-underline::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: calc(100% + 2px);
  height: 1px;
  background: #000;
}
.sang-scrollbar::-webkit-scrollbar {
  width: 3px;
}
.sang-scrollbar::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 5px;
}
.sang-scrollbar::-webkit-scrollbar-thumb {
  background: #5a5a5a;
  border-radius: 5px;
}
.sang-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
