@tailwind base;
@tailwind components;
@tailwind utilities;

.sang-underline::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: calc(100% + 2px);
  height: 1px;
  background: #000;
}
